- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin funny_way
  response#funny_way.
    Vous avez une drôle de façon de montrer votre gratitude.

conversation(display_name="Le botaniste de TwilioQuest")
  if lastResponse === "funny_way"
    statement.
      Quoi, vous voulez une médaille pour avoir démontré que vous n'êtes pas un simplet complet ? Je n'en ai aucune à donner, donc ma reconnaissance de vos compétences en programmation non inutiles devra suffire.

  else if worldState.southWing.hadSavedConversation
    statement.
      Vous avez déjà #[span.highlight mon code d'accès pour le Rayon 2] dans la salle d'expérience principale. Avez-vous besoin d'autre chose, ou avez-vous l'intention de me faire perdre encore plus de temps pendant que j'essaie de rassembler mes équipements de recherche ?
    responses
      +funny_way

  else
    - worldState.southWing.hadSavedConversation = true;
    statement.
      Eh bien, il était temps. #[span.highlight Prenez mon code d'accès pour le Rayon 2] dans la salle d'expérience principale, si vous le devez. Je resterai un moment de plus pour récupérer mon équipement de recherche avant d'évacuer.<br/><br/>... Je dois admettre que vous n'êtes pas aussi désespéré que je le soupçonnais au départ.
    responses
      +funny_way

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);