- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin need_code
  response#need_code.
    Le scientifique principal s'efforce d'inverser l'expérience, mais nous avons besoin de votre code d'accès.

mixin how_do_i_do_it
  response#how_do_i_do_it.
    Je vous aiderai si je le peux - comment puis-je vous le faire créer ?

mixin second_thought
  response#second_thought.
    Vous savez, à bien y réfléchir, je pourrais vous laisser là et laisser l'espace-temps s'effondrer en morceaux - au moins, je serais libéré de votre attitude.

mixin can_you_just_tell
  response#can_you_just_tell.
    Écoutez, nous sommes un peu pressés par le temps - la réalité s'effiloche et tout ça - vous ne pouvez pas simplement me donner votre code d'accès ?

conversation(display_name="Le botaniste de TwilioQuest")
  if lastResponse === "how_do_i_do_it"
    déclaration.
      Comment ? Eh bien, n'est-ce pas évident ! Vous devrez #[span.highlight prolonger les ponts énergétiques] reliant les différentes sections du laboratoire. Il devrait y avoir un panneau de contrôle près de chaque section de pont que vous pouvez utiliser pour le faire.<br/><br/>Cela nécessitera probablement que vous soyez assez intelligent pour écrire du #[span.highlight Code JavaScript qui utilise la logique conditionnelle] - donc je ne retiendrai pas mon souffle.
    responses
      +can_you_just_tell
      +second_thought

  else if lastResponse === "can_you_just_tell"
    statement.
      La seule réalité dont vous devez vous préoccuper est que moi, un moteur irremplaçable de la découverte scientifique, j'ai été piégé ici à cause de l'infériorité de mes collègues !<br/><br/>En dehors de cela, mon code d'accès est crypté sur un dispositif matériel - #[span.highlight vous devrez le récupérer auprès de moi] si vous insistez pour effectuer cette course de dupes. Bien que je suppose que c'est la seule course dont vous êtes capable.
    responses
      +how_do_i_do_it
      +second_thought

  else if lastResponse === "second_thought"
    statement.
      Vous ne pouvez pas. Tu ne le ferais pas ! Je suis... C'est... S'il vous plaît, ne le faites pas.
    responses
      +how_do_i_do_it

  else if lastResponse === "what_was_that"
    statement.
      Vous imaginez que votre humour est attachant ? Laissez-moi vous assurer qu'il n'en est rien, et que votre bavardage juvénile vous vaudra un #[span.red blâme sévère] de la part de vos supérieurs !
    responses
      +need_code
      +how_do_i_do_it

  else if lastResponse === "need_code"
    statement.
      Ah. Elle travaille sur une solution, n'est-ce pas ? Si j'avais été placé à la tête de ce projet, vous pouvez être sûr que nous ne nous serions jamais retrouvés dans cette situation pour commencer.<br/><br/>Si vous voulez perdre votre temps à l'aider, faites-vous plaisir. Je serai heureux de #[span.highlight vous donner mon code d'accès une fois que vous aurez dégagé le chemin] pour ma fuite.
    responses
      +can_you_just_tell
      +how_do_i_do_it

  else if worldState.southWing.hadIntroConversation
    statement.
      C'est un scandale ! 20 ans comme professeur titulaire de botanique, des dizaines d'ouvrages publiés, et laissé à pourrir dans une enveloppe brûlante d'un labo... <br/><br/>Vous là ! Vous ne m'avez pas oublié, n'est-ce pas ? Sauvez-moi tout de suite ou je... Vous allez...
    responses
      response#what_was_that.
        Est-ce que j'ai entendu quelque chose ? Mince, ça doit être cette perte d'audition sélective déclenchée par les pleurnicheries égocentriques.

  else
    - worldState.southWing.hadIntroConversation = true;
    statement.
      Je dis - vous ! Vous là-bas !<br/><br/>En tant que scientifique le plus ancien et le plus accompli de cette installation, j'exige que vous m'assistiez à l'instant !
    responses
      +need_code
      +how_do_i_do_it

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);