- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin what_research
  response#what_research.
    Quel type de recherche est mené ici ?

mixin what_can_i_learn
  response#what_can_i_learn.
    Que puis-je apprendre sur JavaScript au labo ?

conversation(display_name="Cedric")
  - const savedDay = worldState && Object.values(worldState.room1_split.lasers).every(isOn => isOn);
  - const pleaseHurry = worldState && worldState.room1 && worldState.room1.explosionTriggered;
  if savedDay
    statement#saved_day
  else if pleaseHurry
    statement#please_hurry
  else
    case lastResponse
      when "what_research"
        statement#what_research
        responses
          +what_can_i_learn

      when "what_can_i_learn"
        statement#what_can_i_learn
        responses
          +what_research

      default
        statement#default
        responses
          +what_can_i_learn
          +what_research

  statements
    statement#saved_day
      text.
        Il semblerait que la faille dimensionnelle causée par l'explosion du laboratoire ait
        été éliminée. Bien joué ! Je savais que vous étiez à la hauteur de la tâche.
      speech
        prosody(rate="110%").
          Il semblerait que la faille dimensionnelle causée par l'explosion du laboratoire ait
          été éliminée. Bien joué ! Je savais que vous étiez à la hauteur de la tâche.

    statement#please_hurry
      text.
        Agent - nos renseignements indiquent que la
        #[span.red faille dimensionnelle] causée par l'explosion dans le laboratoire est
        toujours en expansion.<br/><br/>S'il vous plaît, #[span.highlight coordonnez-vous 
        avec le scientifique principal] dans la pièce à droite. Elle travaille actuellement sur une
        solution.
      speech
        prosody(rate="110%").
          Agent. Nos renseignements indiquent que la
          faille dimensionnelle causée par l'explosion dans le laboratoire est
          toujours en expansion. Veuillez vous coordonner avec le principal 
          scientifique dans la pièce à droite. Elle travaille actuellement sur une
          solution.

    statement#what_can_i_learn
      text.
        La navigation dans le laboratoire nécessitera que vous vous familiarisiez avec
        le langage de programmation JavaScript. Pour ce faire, vous installerez également
        le moteur d'exécution JavaScript #[a(href="https://www.nodejs.org") Node.js] sur
        votre ordinateur, ce qui vous permettra d'écrire et d'exécuter du code JavaScript.
      speech
        prosody(rate="110%").
          La navigation dans le laboratoire nécessitera que vous vous familiarisiez avec
          le langage de programmation JavaScript. Pour ce faire, vous installerez également
          le moteur d'exécution JavaScript node jay S sur
          votre ordinateur, ce qui vous permettra d'écrire et d'exécuter du code JavaScript.

    statement#what_research
      text.
        Actuellement, notre équipe de recherche étudie les propriétés productrices d'énergie 
        propriétés de #[span.highlight ducktypium], un élément récemment découvert
        qui, selon nous, est la source de la puissance de JavaScript. Passez par les
        barrières de sécurité sur la droite pour examiner vous-même les données de nos recherches.
      speech
        prosody(rate="110%").
          Actuellement, notre équipe de recherche étudie les propriétés productrices d'énergie 
          propriétés du ducktypm, un élément récemment découvert
          qui, selon nous, est la source de la puissance de JavaScript. Passez par 
          les barrières de sécurité sur la droite pour examiner nos données de recherche 
          vous-même.

    statement#default
      text.
        Agent - Je suis heureux que vous soyez venu observer notre travail au
        #[span.highlight Labo d'essais JavaScript]. Les scientifiques de TwilioQuest ont créé des
        progrès significatifs en débloquant le potentiel du langage de programmation JavaScript.
      speech
        prosody(rate="110%").
          Agent. Je suis heureux que vous soyez venu observer notre travail au
          labo d'essais JavaScript. Les scientifiques de TwilioQuest ont créé des
          progrès significatifs en débloquant le potentiel du langage de programmation JavaScript.