// Responses
mixin where_should_go
  response#where_should_go.
    Savez-vous où je devrais aller ensuite ?

mixin about
  response#about.
    Quel genre de recherche faites-vous à bord de la station ?

conversation(display_name="Libation Bot")
  case lastResponse
    when "about"
      statement#about
      responses
        +where_should_go

    when "where_should_go"
      statement#where_should_go
      responses
        +about

    default
      statement#default
      responses
        +where_should_go
        +about

  statements
    
    statement#where_should_go
      text.
        Votre carte d'accès actuelle vous permet de vous rendre dans le module de laboratoire Ducktypium.
        Vous pouvez entrer dans ce module de laboratoire en passant par le couloir derrière 
        la cachette de stockage de liquide récréatif de cette unité.<br/><br/>
        <i>[Après avoir fixé le robot d'un air perplexe pendant un moment, vous déterminez qu'il 
        veut dire que vous devriez passer par la porte derrière le bar.]</i>

    statement#about
      text.
        Erreur. Cette plate-forme est autorisée à distribuer des informations directionnelles 
        et des technologies d'atténuation de la soif appropriées à la situation.
        Puis-je vous intéresser à une INFUSION LIQUIDE DU FRUIT DU DRAGON ET DE MANGUE ? Je peux
        administrer ce contenu pour une consommation orale, ou par voie intraveineuse.

    statement#default
      text.
        Bonjour. Je suis le Bot de Libation. Je suis autorisé à distribuer des informations directionnelles 
        et des technologies d'atténuation de la soif adaptées à la situation.