- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    J'étais heureux de vous aider.

mixin follow_up
  response#follow_up.
    Avez-vous pu récupérer le cargaison de l'Infinite Loop ?

conversation(display_name="Ingénieur de TwilioQuest")
  if lastResponse === "welcome"
    statement.
      Eh bien, The Cloud a besoin de plus de gens comme vous. Si nous pouvons faire quoi que ce soit pour vous aider, n'hésitez pas à nous le faire savoir.

    responses
      +follow_up

  else if lastResponse === "follow_up"
    statement.
      Heureusement, la cargaison destinée au laboratoire a réussi à s'en sortir relativement indemne. Maintenant que notre projet est passé à la vitesse supérieure, je vais avoir du pain sur la planche pour construire les outils dont l'équipe de recherche a besoin. Mais je préfère être occupé que piégé à bord de ce cargo - je vous en dois une.

    responses
      +welcome

  else
    statement.
      Donc - vous avez stabilisé la molécule #[span.highlight ducktypium] et sauvé la situation. Je n'en attendais pas moins d'un agent ayant votre réputation !

    responses
      +welcome
      +follow_up

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);
