// Partial conversation template for the initial scientist conversation
case lastResponse
  when "oh_no"
    statement.
      Oh, ce n'est rien vraiment - c'est juste... nous devons #[span.highlight activer les quatre rayons de stase moléculaire] au centre de la pièce pour stabiliser le #[span.highlight ducktypium]. Le processus est entièrement automatisé, mais il nécessite un mot de passe. Dont je ... ne me souviens pas actuellement.
    responses
      response#reset_password.
        Aïe. Y a-t-il un moyen de réinitialiser le mot de passe ?

  when "reset_password"
    statement.
      Il y en a un, mais je n'en entendrai jamais la fin dans le laboratoire si la rumeur se répand que j'ai encore oublié le mot de passe du rayon de stase ! En fait, je l'ai #[span.highlight écrit sur un morceau de papier] dans mon bureau au bout du passage derrière moi...
    responses
      response#also_forgot.
        Mais vous êtes toujours debout ici, donc je peux supposer...
  
  when "also_forgot"
    statement.
      Bon, alors, j'ai peut-être AUSSI réussi à déclencher toutes les #[span.highlight barrières de sécurité] menant à mon bureau lorsque je suis entré pour récupérer le mot de passe. Ne me jugez pas - je suis un scientifique très occupé ! Vous ne me jugez pas, n'est-ce pas ?
    responses
      response#its_okay.
        Non, bien sûr que non - nous faisons tous des erreurs.

  when "its_okay"
    statement.
      Merci - vous savez, j'ai entendu dire que les agents sont plutôt bons pour résoudre ce genre de problèmes - pensez-vous que vous pourriez #[span.highlight entrer dans mon bureau et récupérer le mot de passe] ? Je vous en serais très reconnaissant.
    responses
      response#you_bet.
        Bien sûr - je vais voir ce que je peux faire.

  when "you_bet"
    statement.
      Vous me sauvez la vie ! Une fois que vous aurez passé les barrières de sécurité derrière moi, le mot de passe pour le rayon de stase #[span.highlight est écrit sur un morceau de papier sur mon bureau].
    // Flag that the scientist initial conversation has been finished
    - worldState.room1.scientistInitalConvo = true;

  default
    statement.
      Oh, bonjour - vous devez être l'agent envoyé pour observer nos recherches. Vous arrivez à un moment passionnant ! Nous sommes à quelques instants de stabiliser une seule molécule de #[span.highlight ducktypium] pour la première fois dans l'histoire ! <br/><br/>Bien qu'il y ait actuellement un #[span.highlight petit, presque insignifiant, accroc] dans le processus de test...
    responses
      response#oh_no.
        Hein ? Que s'est-il passé ?