- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    C'était un plaisir pour moi.

mixin follow_up
  response#follow_up.
    Vous vous sentez bien ? Vous avez traversé plus que votre part de réalité ces derniers temps.

conversation(display_name="Médecin de TwilioQuest")
  if lastResponse === "welcome"
    statement.
      Ah, ça semble peu probable. A moins que manipuler l'espace-temps comme un gros morceau de Play Doh soit votre idée d'un bon moment. Bien que pour être juste, c'est *mon* idée d'un bon moment.

    responses
      +follow_up

  else if lastResponse === "follow_up"
    statement.
      Je me sens bien, même si je suis sûre à 99 % que mes yeux étaient bruns avant que tout cela ne commence. J'ai demandé à ma mère de m'envoyer par SMS des photos de bébé pour référence, mais je m'en fiche un peu. Les applications de cette technologie pourraient être incroyables !<br/><br/>Mais malgré les bosses et les bleus, je suis là, en un seul morceau, grâce à vous.

    responses
      +welcome

  else
    statement.
      La molécule #[span.highlight ducktypium] est stable ! Non seulement vous avez sauvé le Cloud et nous tous, mais nous sommes encore plus près de percer les mystères de JavaScript. Vous, mon ami, êtes une légende.

    responses
      +welcome
      +follow_up

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);