- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    Tout cela en un jour de travail !

mixin sabotage
  response#sabotage.
    Lorsque j'ai réparé le laser final, il semblait avoir été saboté.

conversation(display_name="Le Chef Scientifique de TwilioQuest")
  if lastResponse === "welcome"
    statement.
      J'espère que non ! Combien de crises menaçant la réalité devez-vous gérer dans une semaine de travail moyenne ?

    responses
      +sabotage

  else if lastResponse === "sabotage"
    statement.
      Vous avez raison - on a regardé les vidéos de sécurité du labo et on a découvert que c'est ce botaniste fou qui a trafiqué le laser ! Et maintenant il a commodément fui la station. Nous enquêtons toujours sur l'incident, mais nous soupçonnons que les #[span.red Anciens Systèmes] l'ont aidé à s'infiltrer dans la station pour saboter nos recherches.<br/><br/>C'est une bonne chose que vous vous soyez montrés quand vous l'avez fait - les #[span.red Anciens Systèmes] ont presque réussi. Je doute qu'ils aient compté sur un Agent avec vos compétences.

    responses
      +welcome

  else
    statement.
      C'est incroyable - la molécule #[span.highlight ducktypium] est stable. Vous avez réussi !<br/><br/>Je sais que vous devez entendre ça tout le temps, mais vous êtes un vrai héros ! Notre équipe, et chaque résident du Cloud vous doit une dette que nous ne pourrons jamais rembourser.

    responses
      +welcome
      +sabotage

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);