// Partial conversation template for post-explosion conversation
case lastResponse
  when "other_scientists"
    statement.
      Ils l'étaient quelques minutes après l'accident. Pour l'instant, je ne peux pas être sûr - nous avons perdu toutes les communications dans le laboratoire. Nous devons supposer que mes collègues sont #[span.highlight bloqués dans d'autres zones de l'installation.]
    responses
      response#get_to_safety.
        Nous devons les trouver et les mettre tous en sécurité.

  when "get_to_safety"
    statement.
      Alors voilà le truc à propos de la "sécurité"... D'après ce que je peux dire, cette explosion a créé une faille dimensionnelle qui s'agrandit de minute en minute. À moins que nous ne puissions #[span.highlight inverser l'expérience et réparer la faille], personne dans le Cloud ne sera en sécurité.
    responses
      response#fix_it.
        Alors inversez l'expérience, ou toute l'existence est condamnée. Compris. Comment on s'y prend pour faire ça ?

  when "fix_it"
    statement.
      Je pense savoir comment ajuster les rayons stabilisateurs pour inverser la réaction, mais pour ce faire, nous devrons #[span.highlight réactiver les quatre rayons]. Et je ne pourrai pas le faire moi-même - mes collègues ont les codes d'activation des autres lasers.
    responses
      response#on_it.
        Je m'en occupe ! Je vais trouver vos collègues et obtenir leurs codes d'activation.

  when "on_it"
    statement.
      J'ai encore besoin d'un peu de temps pour calibrer l'équipement pour la tentative d'inversion. Faites-moi savoir quand vous aurez #[span.highlight trouvé mes collègues et recueilli leurs codes d'activation]. Nous pouvons encore résoudre ce problème si nous agissons rapidement.
    // Flag that the scientist post-disaster conversation has been finished
    - worldState.scientistDisasterConvo = true;

  default
    statement.
      Le #[span.highlight cristal de ducktypium a été destabilisé] après que nous ayons allumé le quatrième faisceau - mais cela n'aurait pas dû être possible ! Nos... MES... calculs étaient parfaits, je le sais !<br/><br/>Et techniquement, des parties du laboratoire ne sont pas manquantes, elles ont juste fait la transition vers une cinquième phase de matière non encore découverte en dehors de notre continuum espace-temps.<br/><br/>Pour ce qui est des incendies... ouais, cette partie est encore assez mauvaise.
    responses
      response#other_scientists.
        Qu'est-il arrivé aux autres scientifiques qui étaient dans la chambre d'essai ? Sont-ils en sécurité ?