- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin yes_cant_see
  response#yes_cant_see.
    Oui, mais je ne peux pas vous voir... qu'est-ce qui se passe ici ?

mixin how_do_that
  response#how_do_that.
    Perdre votre forme corporelle semble désagréable... Comment puis-je vous aider ?

mixin need_key
  response#need_key.
    Le scientifique en chef m'a envoyé chercher votre code d'activation pour un laser dans la salle d'expérience du ducktypium. L'avez-vous ?

conversation(display_name="Médecin de TwilioQuest")
  if lastResponse === "yes_cant_see"
    statement.
      Dieu merci, finalement, quelqu'un a remarqué que j'étais encore là ! L'explosion du ducktypium a fait dérailler cet instanciateur de matière. J'essayais de le stabiliser quand la machine s'est enclenchée par erreur, provoquant le déphasage de #[span.highlight mon corps avec ce plan du multivers]!<br/><br/>
      La science derrière tout cela est en fait assez fascinante, mais si cela ne vous dérange pas, je préférerais en discuter avec vous après que vous ayez ramené mon corps à son état normal.
    responses
      +how_do_that
      +need_key
  
  else if lastResponse === "how_do_that"
    statement.
      Il y a des terminaux de contrôle dans les couloirs à l'est et à l'ouest de cette salle - ils ont dû être endommagés pendant l'explosion. Si vous pouvez #[span.highlight remettre ces terminaux en ligne], l'instanciateur de matière devrait réassembler mon corps physique.
    responses
      +need_key

  else if lastResponse === "need_key"
    statement.
      Oui, bien que ma clé matérielle ait subi la même transformation que le reste de mon corps. Si vous pouvez #[span.highlight restaurer ma forme physique], le code d'activation est à vous.
    responses
      +how_do_that

  else if worldState.northWing.summonAnimFinished
    if worldState.northWing.hadSavedConversation
      statement.
        Merci encore d'avoir #[span.highlight restauré ma forme physique]. Je crois que vous avez déjà #[span.highlight le code d'activation dont vous avez besoin] pour le laser nord dans la salle d'expérience. Je vous y rejoindrai sous peu.
      responses
    else
      - worldState.northWing.hadSavedConversation = true;
      statement.
        Attendez... Vous pouvez me voir ? Vous pouvez me voir ! Vous avez réussi, vous avez #[span.highlight restauré ma forme physique]!<br/><br/> #[span.highlight Prenez mon code d'activation] pour le laser nord dans la salle d'expérience. Je vous rejoindrai là-bas sous peu, je devrais probablement m'assurer que tous mes organes internes se sont rematérialisés correctement d'abord. Aussi, j'aurais juré que j'étais plus grand de quelques centimètres...
      responses

  else if worldState.northWing.hadIntroConversation
    statement.
      Bonjour ? Pouvez-vous encore m'entendre ? Si vous pouvez #[span.highlight restaurer ma forme physique], je serai heureux de vous fournir le code d'activation dont vous avez besoin.
    responses
      +how_do_that
      +need_key

  else
    - worldState.northWing.hadIntroConversation = true;
    statement.
      Au secours ! A l'aide ! Vous m'entendez ?!?
    responses
      +yes_cant_see

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);