- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin thanks
  response#thanks.
    Merci - c'était un peu un tour de passe-passe, mais je suis heureux d'avoir pu aider.

conversation(display_name="TwilioQuest Engineer")
  if lastResponse === "thanks"
    statement.
      Des points bonus pour un jeu de mots en boucle, en plus de tout ça ! Je vais me rendre à la salle d'expérimentation après avoir terminé ici.

  else if worldState.eastWing.hadSavedConversation
    statement.
      Il semble que vous ayez déjà #[span.highlight mon code d'accès pour le rayon 3] dans la salle d'expérience principale. Je vous rejoindrai là-bas éventuellement, mais je devrais probablement m'assurer que nos fournitures n'ont pas été endommagées dans l'explosion. Un travail impressionnant une fois de plus, je vous dois beaucoup.
    responses
      +thanks

  else
    - worldState.eastWing.hadSavedConversation = true;
    statement.
      Comment êtes-vous entré ici ? Je veux dire, je suis content que vous ayez réussi, mais je pensais qu'il faudrait des jours avant qu'une équipe de secours ne comprenne le système de sécurité de l'Infinite Loop !<br/><br/>
      ...Vous avez besoin de mon code pour réinitialiser le laser dans la salle d'expérience ? Bien sûr - 
      voici #[span.highlight le dispositif informatique dont vous aurez besoin pour activer le Rayon 3]. Vous devez être quelque chose d'autre, même pour un Agent.
    responses
      +thanks

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);