- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin how_get_job
  response#how_get_job.
    Je comprends qu'il s'agit d'un projet important - comment en êtes-vous arrivé à faire ce type de recherche ?

conversation(display_name="Scientique de TwilioQuest")
  if lastResponse === "how_get_job"
    statement.
      Ce n'est certainement pas ce que j'imaginais faire après un doctorat en biologie moléculaire. Et je peux vous dire que c'est loin d'être aussi lucratif que les offres que j'ai reçues des entreprises pharmaceutiques.<br/><br/>Mais je n'ai jamais pu résister à la chance de résoudre un mystère. Lorsque le programme TwilioQuest m'a recruté pour étudier une substance inconnue jusqu'alors, comment pouvais-je refuser ?
    responses
      response#lucky_to_have.
        Eh bien, ils ont de la chance de vous avoir.

  else if lastResponse === "lucky_to_have"
    statement.
      Vous n'avez pas tort ;)<br/><br/>Et je ne vous cache pas que nous avons de la chance d'avoir votre aide également. Reprenons le travail, d'accord ?

  else if lastResponse === "what_happened"
    include scientist1_disaster.pug
  
  else if worldState.room1.explosionTriggered
    if lastResponse
      include scientist1_disaster.pug
    else if worldState.scientistDisasterConvo
      statement.
        La #[span.red faille dimensionnelle créée par l'explosion] s'aggrave. Je pense pouvoir l'inverser, mais nous devons #[span.highlight remettre les rayons de cette salle en marche].<br/><br/>#[span.highlight Trouver mes collègues] échoués autour du labo - ils auront les codes d'activation dont nous avons besoin pour remettre les rayons en marche. Nous pouvons encore résoudre ce problème si nous agissons rapidement.
      responses
        response#what_happened.
          Pouvez-vous revoir ce qui s'est passé une fois de plus ? Plus précisément la partie où la moitié du laboratoire a disparu et où tout est en feu ?
    else
      statement.
        C'est mauvais. Vraiment très mauvais.
      responses
        response#what_happened.
          Euh, oui - la moitié du laboratoire a disparu et tout est en feu ! Que s'est-il passé ?

  else
    if worldState.room1.passwordFound
      statement.
        Vous avez trouvé le mot de passe #[span.highlight stasis beam] ! Vous êtes le meilleur ! <br/><br/>Il semble tout à fait approprié que vous fassiez les honneurs et redémarriez notre grande expérience. #[span.highlight Dirige-toi vers les commandes du rayon au centre de la pièce] et utilise le mot de passe là-bas. Je suis tellement excité - je sais juste que nous allons découvrir le moment du "big bang" de JavaScript !
      responses
        +how_get_job

    else if worldState.room1.scientistInitalConvo
      statement.
        Merci encore pour votre aide #[span.highlight récupérer le mot de passe] pour le rayon de stase au centre de cette salle. Quand vous l'aurez trouvé, nous pourrons #[span.highlight continuer nos recherches sur le ducktypium] ! <br/><br/>Une fois que vous aurez passé les barrières de sécurité derrière moi, le mot de passe pour le faisceau de stase #[span.highlight est écrit sur un morceau de papier sur mon bureau].
      responses
        +how_get_job

    else
      include scientist1_initial.pug

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);