-
  // After conversation happens once, Operator gets green card
  const STATE_KEY = 'TQ_JAVASCRIPT_WORLD_STATE';
  const worldState = getState(STATE_KEY) || {};

// Responses
mixin security_tight
  response#security_tight.
    La sécurité semble assez stricte à bord de la station - pourquoi ?

mixin about
  response#about.
    Quel genre de recherche faites-vous à bord de la station ?

conversation(display_name="TwilioQuest Scientist")
  case lastResponse
    when "about"
      statement#about
      responses
        +security_tight

    when "security_tight"
      statement#security_tight
      responses
        +about

    default
      if worldState.accessLevels && worldState.accessLevels.green 
        statement#default_alt
      else
        statement#default
      responses
        +security_tight
        +about

  statements
    
    statement#security_tight
      text.
        Alors que JavaScript est le langage de programmation le plus utilisé dans le monde.
        Notre travail, sur la station va beaucoup plus loin que de basculer la 
        visibilité des éléments du DOM. Nous effectuons des recherches de pointe sur 
        les éléments fondamentaux du langage, afin de comprendre comment il peut 
        de maintenir le cohésion de l'univers virtuel du Cloud.<br/><br/>
        Bien que vitale et passionnante, cette recherche peut également être dangereuse. Nous devons 
        nous assurer que seul le personnel formé est autorisé à s'engager dans cette recherche.

    statement#about
      text.
        De nombreux programmes sont en cours, mais notre programme le plus mature est notre 
        recherche sur le Ducktypium, l'un des éléments constitutifs critiques de
        JavaScript. L'équipe est sur le point d'obtenir des résultats vraiment explosifs.<br/><br/>
        Vous devriez contrôler le projet ! Une fois que vous avez passé le poste de contrôle vert,
        passez au module de recherche nord. Ce sera le seul module de laboratoire auquel vous 
        pouvez accéder avec votre carte magnétique actuelle.

    statement#default_alt
      text.
        Salut Agent ! Merci de votre aide pour inspecter nos systèmes de sécurité !

    statement#default
      text.
        Bonjour, opérateur ! Bienvenue au Labo d'essais JavaScript ! Nous vous attendions. 
        Je crois savoir que vous allez inspecter notre système de sécurité ? <br/><br/>
        Pour commencer, je peux vous procurer une #[span.highlight carte magnétique verte]. 
        Cela devrait vous permettre d'accéder au hall principal, et au module de recherche du Ducktypium.

-
  // After conversation happens once, Operator gets green card
  const newWorldState = {
    ...worldState,
    accessLevels: { ...worldState.accessLevels, green: { opened: [] } }
  }
  setState(STATE_KEY, newWorldState);
        

